NEXT_PUBLIC_API_URL=http://localhost:8000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret
AUTH_LOGTO_ID=wfys39gnwrpez0g29f1v0
AUTH_LOGTO_SECRET=your-logto-app-secret
AUTH_LOGTO_ISSUER=https://pk5k15.logto.app/oidc
